.top {
 width: 100%;
 height: calc(100vh - 197px);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0 1.6rem;
 background: #211A29;
 background-image: url('../images/bg-stars.svg');

 @include media-sm {
  padding: 0 .3rem;
 }

 .launch-info {
  width: 100%;
  text-align: center;

  h1 {
   color: $White;
   text-transform: uppercase;
   letter-spacing: 6px;
   font-size: 1.2rem;

   @include media-lg {
    font-size: 1.4rem;
    letter-spacing: 8px;
   }
  }

  .timer-cards {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin: 3.5rem 0 0 0;
  
   @include media-sm {
    gap: 0.8rem;
   }
   @include media-md {
    margin: 6rem 0 0 0;
    gap: 2rem;
   }

   .timer-card {
    &__card {
     width: 4.5rem;
     height: 4rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 0 20px 4px -6px $Very-dark-black-blue;
     position: relative;
     perspective: 150px;
     
     @include media-sm {
       width: 4rem;
       height: 3.5rem;
      }
      
      @include media-md {
      perspective: 300px;
      width: 9.5rem;
      height: 9rem;
     }   
     
     &::before {
      width: 100%;
      height: 50%;
      position: absolute;
      content: '';
      top: 0;
      box-shadow: 
      0 -1px 1px rgba(0,0,0,0.15),
      0 -10px 0 -5px #343650,
      0 -10px 1px -4px rgba(0,0,0,0.15),
      0 -20px 0 -10px #343650,
      0 -20px 1px -9px rgba(0,0,0,0.15);
     }     

     .fold {
      width: 100%;
      position: absolute;
      content: '';
      box-shadow: 0px 0px 1px .2px #242538;
      z-index: 12;
      top: 2rem;

      @include media-sm {
       top: 1.75rem;
      }
      @include media-md {
       top: 4.5rem;
      }
 
      &:before {
       width: 10px;
       height: 10px;
       content: '';
       position: absolute;
       left: -5px;
       top: -5px;
       border-radius: 50%;
       background: #211A29;
      }
      &:after {
       width: 10px;
       height: 10px;
       content: '';
       position: absolute;
       right: -5px;
       top: -5px;
       border-radius: 50%;
       background: #211A29;
      }
     }
    }
    
    .card-top,
    .card-bottom,
    .card-front,
    .card-back {
     width: 4.5rem;
     height: 2rem;
     position: relative;
     display: block;
     background: $Dark-desaturated-blue;
     color: $Soft-red;
     overflow: hidden;
     box-shadow: 
     inset 0 0 2rem 5px #242538;


     @include media-sm {
      width: 4rem;
      height: 1.75rem;
     }

     @include media-md {
      width: 9.5rem;
      height: 4.5rem; 
     }
     
     .timer {
      left: 50%;
      width: 100%;
      height: 4rem;
      text-align: center;
      font-size: 2.3rem;
      font-weight: 700;
      line-height: 4rem;
      transform: translateX(-50%);
      position: absolute;

      @include media-sm {
       height: 3.5rem; 
       line-height: 3.5rem;
      }
      @include media-md {
       height: 9rem;
       line-height: 9rem;
       font-size: 5rem;
      }
     }
    }
    .card-top,
    .card-bottom,
    .card-front,
    .card-back {
     width: 100%;
    }
    .card-top,
    .card-front {
     .timer {
      top: 0;
     }
    }
    .card-front {
     position: absolute;
     top: 0;
     z-index: 10;

    }
    .card-bottom,
    .card-back {
     .timer {
      bottom: 0;
     }
    }
    .card-back {
     position: absolute;
     top: 2rem;
     z-index: 10;
     border-radius: 8px;

     @include media-sm {
      top: 1.75rem; 
     }

     @include media-md {
      top: 4.5rem; 
     }
    }
    
    .card-bottom {
     border-radius: 8px;
    }
    .card-top {
     border-radius: 8px;
    }
    /// Flipclock Animation
    .card-front {
     transform: rotateX(0deg);
     transform-style: preserve-3d;
     transition-delay: .3s;
     transform-origin: bottom center;
    }
    .card-back {
     transform-origin: top center;
     transform: rotateX(90deg);     
     transition-delay: 0s;
     transform-style: preserve-3d;
    }
   }

   .flip {
    .card-front {
     transform: rotateX(-90deg);
     transition: transform .3s ease-in, background-color .3s ease-in, color .3s ease-in;
     transition-delay: 0s;      
    }
    
    .card-back {
     transform: rotateX(0deg);
     transition: transform .3s ease-in;
     transition-delay: .3s;
    }
   }
   
   .time-in {
    font-size: .5rem;
    letter-spacing: 2px;
    margin: .7rem 0;
    text-transform: uppercase;
    color: $Grayish-blue;
    @include media-md {
     font-size: .9rem;    
     letter-spacing: 5px;
     margin: 1.5rem 0;
    }
   }
  }
 }
}